<form {{action "login" on="submit"}}>
	<label for="">Username</label>
	{{input value=user.username}}
	<br>
	<label for="">Password</label>
	{{input type="password" value=user.password}}
	<br>
	<button>login</button>
</form>